.thumbnail {
    width: 20vw;
    height: 20vw;
    border: 2px solid red;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thumb-title {
    /* align-self: flex-end; */
    width: 20vw;
    height: 4vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}