.thumbnail {
    width: 20vw;
    height: 15vw;
    border: 2px solid red;
    margin: 2vw;
    display: flex;
    flex-direction: column;
}

.thumb-title {
    width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    margin-top: auto;
    padding: 0;
}

.thumb-img {
    width: 20vw;
    height: 12vw;
}